import { hitserContext } from '@/store/HisterContext';
import React from 'react';
import { Text, View, Button } from 'react-native';
import { Spinner } from '@/components/Spinner/Spinner';

export const SpinnerScreen = () => {
  const { hitserValues, setHitserValues, spinnerPosition } = React.useContext(hitserContext);

  return (
    <View className={styles.getStartedContainer}>
      <View className={styles.helpContainer}>
        <Text>
            Spinner Pos From Context: {spinnerPosition}
            Context value: 
          { 
            hitserValues.map((hitser, index) => 
              <Text key={index}>Chossen by spinner: {isSelectedHister(spinnerPosition, hitserValues, index)}<Button key={index} onPress={() => hideOnPress(hitser, index, hitserValues, setHitserValues)} title={hitser.name + hitser.show} /></Text>    
            )
          }
        </Text>
      </View>

        <Spinner/>

    </View>
  );
};